@import "tailwindcss";

@font-face {
    font-family: 'SF Pro Display';
    src: url('assets/fonts/SF_PRO_DISPLAY/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}